body {
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    
}

main {
    display: flex;
    width: 100%;
    height: 100%;
    padding-top: 135px;
   
    background: white;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

aside.izquierdo {
    width: 20%;
    padding: 20px;
    border-right: 1px solid #ddd;
}

.controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.controls button {
    background: none;
    border: 1px solid #ccc;
    padding: 5px;
    cursor: pointer;
}

.controls select {
    padding: 5px;
    border: 1px solid #ccc;
}

.event-form {
    margin-top: 20px;
}

.event-form input {
    width: 70%;
    padding: 5px;
    margin-right: 10px;
}

.event-form button {
    padding: 5px 10px;
    cursor: pointer;
}

#calendar {
    width: 80%;
    padding: 20px;
}

/* Cabecera del Calendar */

.calendar-header, .calendar-row {
    display: flex;
    justify-content: space-between;
}

.calendar-header {
    background-color: rgb(230, 240, 255);
    align-items: center;
    padding: 10px;
    color: rgb(0, 102, 204);
    font-size: 1.4em;
    font-weight: bold;
    border-bottom: 1px solid #ccc;
}

.calendar-day {
    width: calc(100% / 7);
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 5px;
    cursor: pointer;
}

.calendar-day:last-child {
    border-right: none;
}

.today {
    background-color: #c75656;
}

.selected {
    border: 2px solid #333;
    background-color: #f7e713;
}

/* Día con eventos */
.has-event {
    background-color: #3a3a3a;
    color: #d10606; 
}

.events-list {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 5px;
    text-align: left;
    width: 100%;
}

.events-list li {
    background: #f9f9f9;
    margin: 2px 0;
    padding: 2px 5px;
    border-radius: 3px;
    font-size: 0.9em;
}

/* Mini Calendario */
#miniCalendar {
    margin-top: 20px;
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

#miniCalendarHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    margin-bottom: 10px;
}



.mini-calendar-header, .mini-calendar-row {
    display: flex;
    justify-content: space-between;
}

.mini-calendar-header {
    background-color: rgb(230, 240, 255);
    color: rgb(0, 102, 204);
    font-size: 1em;
    font-weight: bold;
    padding: 5px;
    border-bottom: 1px solid #ccc;
}

.mini-calendar-day {
    width: calc(100% / 7);
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    min-height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 5px;
    cursor: pointer;
}

.mini-calendar-day:last-child {
    border-right: none;
}

/*Si hay evento*/
.has-event-mini {
    background-color: #3a3a3a; 
    color: #fff; 
}

.mini-events-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.mini-events-list li {
    background: #f9f9f9;
    margin: 5px 0;
    padding: 5px;
    border-radius: 3px;
    font-size: 0.9em;
}

.selected-mini {
    background-color: yellow;
}
